.git
.gitignore
.idea
.vscode
build
.dart_tool
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec_overrides.yaml
coverage
android/.gradle
android/app/build
ios/Pods
ios/.symlinks
macos/Pods
linux/build
windows/build
*.iml
*.log
.env
.env.*
